.step2-form{
    width: 100%;
}
.field-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.8rem;
}
.field{
    width: 100%;
}
.sub-label{
    width: 100%;
    min-height: 77px;
    border: 1px solid var(--Light-gray);
    cursor: pointer;
    padding: 1.5rem;
    border-radius: 1rem;
}
.sub-label:hover{
    border: 1px solid var(--Pastel-blue);
}
input[type = "radio"]{
    appearance: none;
}

.sub-label.active{
    border: 1px solid var(--Pastel-blue); 
}
.content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:4rem
}


/* Toggle Switch styles */
.switch-wrapper{
    grid-column: span 3;
    background-color: #F7F9FF;
    min-height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-top: 3.5rem;


}
.switch-container {
    display: flex;
    align-items: center;
    gap: 2.2rem;
  }
  
  
  .step2-checkbox[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Create a custom switch slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Marine-blue);
    transition: .4s;
    border-radius: 24px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  /* When the checkbox is checked, move the slider */
  input:checked + .slider {
    background-color: var(--Purplish-blue);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Rounded slider */
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
